*{
     margin:0; padding:0; box-sizing:border-box; 
    }
html, body{ 
    height:100%;
}
body{ 
    background-color:#000000; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.resume-page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
}
.resume-page h1{
  color: orange;
  font-size: 35px;
}
.resume-page iframe{
  width: 70%;
  height: 80vh;
  border: 3px solid #67696b;
  border-radius: 10px;
  background: white;
}
.download-btn{
  background-color: orange;
  color: black;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.3s;
}
.download-btn:hover{
  background-color: white;
  transform: scale(1.05);
}
.icon {
    position: fixed;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    z-index: 100;
   
}
i{
    font-size: 30px;
    padding: 0;
}
.icon a{
    
    margin: 0 10px;
    border-radius: 50%;
    box-sizing: border-box;
    /* background: rgb(34, 23, 23); */
     background: linear-gradient(#ead51d,#ff6b6b);
    width: 60px;
    height: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
    
}
.icon a:hover{
    background: black;
    transform: scale(1.15);
}


/* .icon{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}
.icon a{
  margin: 0 10px;
  border-radius: 50%;
  background: linear-gradient(#ead51d, #ff6b6b);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 25px;
  color: black;
  transition: 0.5s;
}
.icon a:hover{
  background: black;
  color: white;
} */